
/* Regles css*/
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .my-header {
            background-color: hsl(0deg,40%,60%);
            padding: 20px;
            text-align: center;
        }
        main {
            padding: 10px;
            background-color: burlywood;
        }
        footer {
            background-color: hsl(0deg,20%,60%);
            padding: 1rem;
            text-align: center;
        }
        .maincontent {
            border: 2px solid black;
            border-radius: 16px;
            background-color: hsl(0deg,40%,90%);
            text-align: center;
        }
        .padding-top {
            padding-top: 16px;
        }
        .padding-bottom {
            padding-bottom: 16px;
        }
   